<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volcano Judge Shutdown</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 20px;
    }

    a {
      color: black;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
    }

    h1 {
      color: #FF5733;
    }

    p {
      line-height: 1.6;
    }

    .header a {
      text-decoration: none;
      color: #007BFF;
      font-weight: bold;
    }

    .footer {
      margin-top: 20px;
      text-align: center;
      color: #888;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Volcano Judge - Project Shutdown</h1>
      <p>Check out my new project: <a href="https://repository.pythonanywhere.com" target="_blank">Math Contest Repository</a></p>
    </div>
    <p><b>Date: January 25, 2024</b></p>
    <p>
      Dear Volcano Judge Users,
    </p>
    <p>
      I hope this message finds you well. I am writing to inform you about the shutdown of Volcano Judge, a project that I developed during my grade 10 year. It has been a rewarding experience working on this competitive programming platform, and I appreciate the support and engagement from the user community.
    </p>
    <p>After over a year of working on Volcano Judge, I've decided it's time to move on and innovate to create more great things. Unfortunately, I am unable to devote my time to this project anymore and I don't believe in running projects which I'm too busy to maintain.</p>
    <p>
      Volcano Judge is no longer available, but a similar platform I've created is <a href="https://repository.pythonanywhere.com">the Math Contest Repository</a>.</p>
    <p>
      After careful consideration, I have decided to retire the project - at least temporarily. Managing Volcano Judge has been a valuable learning experience for me, and I have gained insights into the complexities of running such platforms. However, due to current commitments and challenges, I find it difficult to continue maintaining the project effectively - if you are able to properly manage Volcano Judge, please contact me so that I can transfer its ownership to new hands.
    </p>
    <p>
      I want to express my gratitude to each one of you who has been a part of the Volcano Judge community. Your contributions, feedback, and participation have been instrumental in shaping the platform.
    </p>
    <p>
      I understand that this news may be disappointing for some, and I sincerely apologize for any inconvenience caused. If you have any questions or concerns, feel free to reach out to me at <code>savirsinghwork -at- gmail.com</code>.
    </p>
    <div class="footer">
      <p>Thank you for your understanding and support.</p>
      <p>Sincerely,<br><a href="https://savirsingh.github.io">Savir</a></p>
    </div>
  </div>
</body>
</html>
